@import "fonts";


//Шрифт по умолчанию=============================================================================================
 $fontFamily: "";
 $fontSize: 14px;

 //Основной цвет
 $mainColor: #000;

//Настройки контейнера===========================================================================================
$maxWidthContainer: 1240px;
$containerPadding: 20px;

//===============================================================================================================

.container{
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 $containerPadding;
}